__pycache__
flask_session
venv/
default_settings/
data/
logs/
build/
overrides/
proxy.txt
run.cmd
run.ps1 
heroku_deploy.ps1
app/static/uploads/keystore/
*docker_*
.vscode 
docker-compose.yaml
docker_build_prod.ps1
build_docker_image.cmd
*__pycache__*
.dockerignore
gha-creds-*.json